footer.site-footer
    .footer-container
        .footer-brand
            img(src="/img/logo_ecica.png", alt="Logo ECICA")
            div
                h3 ECICA
                p École Centrale pour l’Industrie, le Commerce et l’Administration.

        .footer-section
            h4 Navigation
            ul
                li
                    a(href="/") Accueil
                li
                    a(href="/presentation/Presentation") Présentation
                li
                    a(href="/Formation/SystemeEducatif") Formations
                li
                    a(href="/contact") Contact

        .footer-section
            h4 Accès directs
            ul
                li
                    a(href="/student") Espace Etudiant
                li
                    a(href="/teacher") Espace Enseignant
                li
                    a(href="#") Bibliothèque
                li
                    a(href="/Liens") Liens utiles

        .footer-section
            h4 Contact
            ul
                li Bamako, Mali
                li
                    a(href="mailto:contact@ecica.edu.ml") contact@ecica.edu.ml
                li
                    a(href="tel:20 22 26 91") 20 22 26 91
                li Lun - Ven : 7h00 - 19h00
                li Samedi : 7h00 - 16h00

    .footer-bottom
        span &copy; 2026 ECICA. Tous droits réservés.
        span Design by Liceria_dev
        
