extends layout
block content
        div(class="home-container")
                div(class="acces-direct-container")
                        h2 Accès Directs 
                        div(class="acces-cards")
                                div(class="acces-item")
                                        h1 
                                                a(href="/img/first.png")
                                                        img(src="/img/first.png" alt="picture-emploi-du-temps-01") 
                                                        b Emplois Du temps Master S2
                                        p(class="details")
                                                span 18 mars 2026 | 
                                                a(href='#') Etudiants
                        
                                div(class="acces-item")
                                        h1 
                                                a(href="/img/first.png")
                                                        img(src="/img/first.png" alt="picture-emploi-du-temps-02")  
                                                        b Emplois Du temps Master S2
                                        p(class="details")
                                                span 18 mars 2026 | 
                                                a(href='#') Etudiants
                                                
                                div(class="acces-item")
                                        h1 
                                                a(href="/img/first.png")
                                                        img(src="/img/first.png" alt="picture-emploi-du-temps-03")  
                                                        b Emplois Du temps Master S2
                                        p(class="details")
                                                span 18 mars 2026 | 
                                                a(href='#') Etudiants
                                                
                                div(class="acces-item")
                                        h1 
                                                a(href="/img/first.png")
                                                        img(src="/img/first.png" alt="picture-emploi-du-temps-04")  
                                                        b Emplois Du temps Master S2
                                        p(class="details")
                                                span 18 mars 2026 | 
                                                a(href='#') Etudiants
                div(class="a-l-a-une-container")
                        div(class="posts")
                                div(class="carousel-imgs_acces-directs")
                                        div(class="carousel-imgs")
                                                h2 A la une 
                                                div(class="carousel")
                                                        article
                                                                img(src="/img/imgi_3_2026-03-13-01-50-18_e1f2b357db0f8a24e0865b5e9f096589d1b06de9.png", alt="picture-emploi-du-temps-2", srcset="" class="article_imgs")
                                                        div(class="carousel-controle")
                                                                div(class="prev")
                                                                div(class="next")
                                        div(class="acces-directs")
                                                h2 Accès Directs
                                                div(class="acces-directs-items")
                                                        a(href="#")
                                                                img(src="/img/imgi_3_2026-03-13-01-50-18_e1f2b357db0f8a24e0865b5e9f096589d1b06de9.png" alt='acces-rapide') 
                                                        div(class="acces-direct-links")
                                                                a(href="#" class="these-post")
                                                                        h5 Thèses Soutenues
                                                                        span Toutes les thèses soutenues à la FSDM 
                                                                a(href="#" class="article-post")
                                                                        h5 Thèses Soutenues
                                                                        span Toutes les thèses soutenues à la FSDM               
                                
                                div(class="a-la-une-bar")
                                        .ala-une-bar-container
                                                ul
                                                        li(class="dropdown-menu active")
                                                                span Actualités
                                                        
                                                        li(class="dropdown-menu")
                                                                span Presse
                                                        
                                                        li(class="dropdown-menu")
                                                                span Concours
                                                        
                                                        li(class="dropdown-menu")
                                                                span Evénement
                                        .ala-une-link-container 
                                                .link-item 
                                                        a(href="#") Link1
                                                        .info
                                                                span 3 Avril 2026
                                                                span |
                                                                span Etudiants
                                                .link-item 
                                                        a(href="#") Link2
                                                        .info
                                                                span 3 Avril 2026
                                                                span |
                                                                span Etudiants
                                                .link-item 
                                                        a(href="#") Link3
                                                        .info
                                                                span 3 Avril 2026
                                                                span |
                                                                span Etudiants
                                                .link-item 
                                                        a(href="#") Link4
                                                        .info
                                                                span 3 Avril 2026
                                                                span |
                                                                span Etudiants
                                                .link-item 
                                                        a(href="#") Link5
                                                        .info
                                                                span 3 Avril 2026
                                                                span |
                                                                span Etudiants
                                                .link-item 
                                                        a(href="#") Link6
                                                        .info
                                                                span 3 Avril 2026
                                                                span |
                                                                span Etudiants
                                                .link-item 
                                                        a(href="#") Link7
                                                        .info
                                                                span 3 Avril 2026
                                                                span |
                                                                span Etudiants
                                                .link-item 
                                                        a(href="#") Link9
                                                        .info
                                                                span 3 Avril 2026
                                                                span |
                                                                span Etudiants
                                                .link-item 
                                                        a(href="#") Link1
                                                        .info
                                                                span 3 Avril 2026
                                                                span |
                                                                span Etudiants
                                div(class="guide-actualiser")
                                        .guide-actualiser-header 
                                                h2 Guide de l'étudiant
                                                span(class="title") "Retrouvez toutes les informations essentielles pour réussir votre parcours à l'E.C.I.C.A"
                                        a(href="#" class="guide-actualiser-img")
                                                img(src="/img/first.png", alt="guide-actualite")
                                .static-container 
                                        .chiffer-container
                                                h3 E.C.I.C.A en chiffres
                                                div(class="chiffre-datas")
                                                        .chiffre-item 
                                                                div(class="data") 
                                                                       span 259
                                                                div(class="title") Profeseur      
                                                        .chiffre-item 
                                                                div(class="data") 
                                                                       span 4751
                                                                div(class="title") Etudiants 
                                                        .chiffre-item 
                                                                div(class="data") 
                                                                        span 258
                                                                div(class="title") Etudiants Internationnaux 
                                                                
                                                        .chiffre-item 
                                                                div(class="data") 
                                                                       span 3000
                                                                div(class="title") Diplomés
                                        .mission-container
                                                h3 Notre missions
                                                .mission-description 
                                                        p L’ECICA doit promouvoir une formation professionnelle d’excellence, en dotant ses élèves de compétences adaptées au monde professionnel et aux exigences du marché du travail, afin de former de futurs techniciens qualifiés.

                                                .date-container 
                                                        h4 Création 
                                                        span 1969
                        aside(class="post-events") Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quas minus vero nulla labore cum, voluptatem, doloremque corrupti fugit deleniti expedita qui asperiores nemo quo iure dolores consectetur. Quo, earum?Rerum sunt, adipisci sint repellat exercitationem assumenda obcaecati similique perspiciatis voluptates, fugit animi! Et numquam sit totam saepe adipisci, rerum dolor id itaque ipsum rem blanditiis perspiciatis temporibus culpa nobis.Inventore ducimus possimus sit maiores provident quaerat consequuntur laboriosam, neque nihil quis dolorem aspernatur odit molestiae modi itaque? Voluptate error consequatur sunt ullam voluptatum, esse labore soluta suscipit nostrum modi?Asperiores doloremque quae cum beatae, non sunt atque inventore animi quaerat molestiae recusandae eius architecto quisquam quidem delectus. Dolore ab, necessitatibus omnis maxime reiciendis aliquid repellat repellendus vel perspiciatis explicabo.Architecto repudiandae quis accusantium voluptatem distinctio laudantium a nesciunt error, nihil, asperiores in dolorum iste inventore laboriosam sapiente animi tempora dolores voluptas necessitatibus nulla quia deserunt ea? Est, voluptatibus quos?Libero sequi eaque quo ipsum. Aliquid, non reprehenderit? Possimus fugit eum pariatur tempora nemo! Quod eum rem cumque! Cum exercitationem rerum consequuntur nihil perferendis magni veniam animi iure assumenda quam.Necessitatibus aliquid quod tempore, inventore veniam temporibus esse aperiam sint delectus quam quos maxime reprehenderit, eos obcaecati, odit molestiae illum? Sint, similique dolorem beatae sed quas fuga nobis perspiciatis quisquam?Id impedit mollitia nobis distinctio eveniet et repellat maiores sunt minus accusantium necessitatibus hic molestias consequatur quos libero nemo est harum, praesentium, voluptatibus saepe rem laudantium dolorum. Quo, dolor voluptas?Pariatur sunt ratione aut quae repudiandae fugit facere cupiditate dolore accusamus, ipsum, at distinctio voluptates. Laborum unde veniam eveniet odio accusantium eaque earum nam laboriosam, ipsum, quis in omnis autem?Alias culpa ducimus modi? Hic maiores ad, natus at officia excepturi id est quasi ducimus cupiditate similique adipisci! Esse aliquid quae adipisci nobis veniam quia labore soluta? Ipsa, inventore maiores.Laborum beatae inventore officia expedita, ab explicabo veniam, odio ex soluta, culpa officiis alias odit iure distinctio harum sed. Nobis minus aliquid vel, quos corrupti aspernatur ipsam unde. Deleniti, pariatur!Voluptas quibusdam sint repellendus natus odit eius voluptatem, id dolor earum neque obcaecati qui. Quaerat accusantium iure harum architecto natus? Doloribus sed quisquam dolorem sit doloremque enim expedita eos reprehenderit!Labore aut illum omnis error rerum consequuntur in doloribus, quibusdam quod ullam excepturi! Eligendi eaque mollitia ipsa accusamus voluptas sit ullam. Quis est praesentium incidunt, dicta repellendus voluptatem nesciunt maiores?Sit ut eaque necessitatibus voluptas architecto labore ipsum minus. Ea asperiores non ipsum similique eius soluta voluptas debitis repellat, quaerat corporis eaque voluptatibus odio! Maxime quisquam dignissimos aspernatur ab dolorum!Obcaecati tenetur perspiciatis tempora. Voluptatum fugiat excepturi sint adipisci odio repellendus deleniti architecto sapiente atque itaque ipsa cum, et, amet est voluptates quidem aliquid doloremque esse totam iusto possimus cupiditate.
