extends ./layout.pug

block content 
    h2(class="bigTittle") Administration
    .administration-container 
        img(src="/img/picture.jpg", alt="administraction-three", srcset="" style="width:100%;heigth:70%")