extends ./layout.pug
block content 
    .historiques-containers 
        h2(class="bigTittle") Historiques Space
        .historique-container 
            .directeur-actuel
                .photo
                    img(src="/img/avatar.png", alt="directeur actuel", srcset="")
                .info
                    h2 Direct Général 
                    p(class="text") Mr BRAHIMA H TIMBOLIBA
            .teams-container
                .directeur-des-etudes
                    .photo
                        img(src="/img/avatar.png", alt="directeur des études", srcset="")
                    .info
                        h2 Direct des Etudes 
                        p(class="text") Mr Nouhoum DEMBELE
                .surveillant
                    .photo
                        img(src="/img/avatar.png", alt="surveillant général", srcset="")
                    .info
                        h2 Surveillant Général 
                        p(class="text") Mr Youssouf MAIGA
                .chef-des-travaux
                    .photo
                        img(src="/img/avatar.png", alt="chef des travaux", srcset="")
                    .info
                        h2 Chef des travaux 
                        p(class="text") Mr Issiaka DOLO
                .econome
                    .photo
                        img(src="/img/avatar.png", alt="econome", srcset="")
                    .info
                        h2 Econome 
                        p(class="text") M Doussou CISSE
            .les-enciens-directeur
                .old-director
                    .photo
                        img(src="/img/avatar.png", alt="sow", srcset="")
                    .info
                        h3 Directeur : 2006 - 2013 
                        p(class="text") Mr FAMOLO TRAORE
                
                .old-director
                    .photo
                        img(src="/img/avatar.png", alt="famolo", srcset="")
                    .info
                        h3 Directeur : 2000 - 2006
                        p(class="text") Mr MAMADOU SIDIBE
                .old-director
                    .photo
                        img(src="/img/avatar.png", alt="mamadou", srcset="")
                    .info
                        h3 Directeur : 1996 - 2000 
                        p(class="text") Mr EL HASSAN DIARRA
                .old-director
                    .photo
                        img(src="/img/avatar.png", alt="hassan", srcset="")
                    .info
                        h3 Directeur : 1994 - 1996 
                        p(class="text") Mr CHEICK OUMAR DIALLO
                .old-director
                    .photo
                        img(src="/img/avatar.png", alt="hama", srcset="")
                    .info
                        h3 Directeur : 1993 - 1994 
                        p(class="text") Mr HAMA EL HADJ MAIGA SIMBARA