doctype html
html(lang="fr")
  head
    title Revision
    meta(name="description", content="Page de révision et contenu principal du site")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/img/logo_ecica.png", type="image/x-icon")
    link(rel="stylesheet" href="/css/layout.css")

  body
    .main-container
      .container

        include ./includes/header.pug

        main.main-content
          include ./includes/navbar.pug

          .block-content
            block content

        include ./includes/footer.pug

    script(src="/javascript/script.js", type="module")