extends ./layout.pug
block content 
    .lois_reglements_container
        h2(class="bigTittle") Lois et Régléments
        div(class="text-lois")
            table(class="table")
                tbody
                    tr 
                        td(style="color:#c93") 
                            b Textes de Lois
                        td(style="color:#c93;") 
                            b Téléchargements
                    tr 
                        td Lois 1
                        td
                            P
                                a(href="") Telechagement 
                    tr 
                        td Lois 2
                        td
                            P
                                a(href="") Telechagement 
                    tr 
                        td Lois 3
                        td
                            P
                                a(href="") Telechagement 
                    tr 
                        td Lois 4
                        td
                            P
                                a(href="") Telechagement 
                    tr 
                        td Lois 5
                        td
                            P
                                a(href="") Telechagement 
                    tr 
                        td Lois 6
                        td
                            P
                                a(href="") Telechagement 
                    tr 
                        td Lois 7
                        td
                            P
                                a(href="") Telechagement 
                    tr 
                        td Lois 8
                        td
                            P
                                a(href="") Telechagement 
                    tr 
                        td Lois 9
                        td
                            P
                                a(href="") Telechagement
                    tr 
                        td Lois 10
                        td
                            P
                                a(href="") Telechagement  