extends layout 

block content 
    div(class="systeme-educatif-container")
        h2(class="bigTittle") Système Pédagogique
        div(class="span12")
            div(class="text")
                p(class="justify-content")
                    | Le système pédagogique mis en place à l'E.C.I.C.A est fondé sur trois niveaux de formation menant chacun à l’un des diplômes suivants :